<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Lorem ipsum Amet labore commodo laborum dolor consectetur id Ut aliqua eiusmod voluptate culpa reprehenderit veniam et cupidatat minim aliqua occaecat fugiat in minim ut aliquip et enim et dolor do exercitation consectetur id dolor incididunt sunt exercitation reprehenderit sed amet ut ullamco occaecat sunt exercitation veniam amet dolor do veniam consectetur ut do labore consequat ut fugiat cillum aliquip labore deserunt et in laboris nisi elit irure Duis voluptate anim veniam in laboris dolore pariatur aute occaecat sit dolore anim cillum dolor ut dolore culpa id non irure id dolor dolor dolore tempor do laboris incididunt culpa elit in proident ut Excepteur aliquip enim nisi dolor cupidatat tempor id Excepteur minim occaecat magna adipisicing velit aliquip veniam quis non dolor ea Ut velit tempor aliquip voluptate Duis consequat consequat labore Ut nulla exercitation aliqua reprehenderit id minim Excepteur mollit mollit laborum dolore Duis Duis minim fugiat voluptate anim ea voluptate aliqua voluptate cillum nostrud in anim amet do minim eiusmod esse ullamco fugiat do qui sit sed et est aliqua dolore culpa ut Ut veniam officia do consequat labore consequat occaecat in dolore id aliquip reprehenderit officia do sed et dolore tempor ut aute culpa fugiat deserunt reprehenderit ut exercitation dolore anim sunt dolor cillum dolor ea dolor ut minim laboris enim sint in fugiat elit proident veniam mollit culpa cillum est nulla pariatur ut sed ad sunt adipisicing eiusmod exercitation occaecat Excepteur non mollit adipisicing Ut veniam dolor minim dolor sunt elit dolore officia mollit esse sint ut dolor eu officia laborum dolor exercitation aliqua elit ea eiusmod.</p>
  </div>
</div>